{% block field_errors %}
{% spaceless %}
  {% if errors|length > 0 %}
    <div class="alert alert-error">
      {% for error in errors %}
        <span>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span><br>
      {% endfor %}
    </div>
  {% endif %}
{% endspaceless %}
{% endblock field_errors %}
