{% extends "AcmeRentacarBundle::base.html.twig" %}

{% block page_title '仮登録完了' %}
{% block nav '' %}

{% block content %}
<div>
  <p>確認用のメールを送信しましたので、メールに含まれる本登録用のリンクへアクセスして登録を完了してください。</p>
</div>
{% endblock content %}
