{% extends "AcmeRentacarBundle::base.html.twig" %}

{% block page_title 'ホーム' %}
{% set menu = 'home' %}

{% block content %}
<div>
  <a href="{{ path('reservation_new') }}" class="btn large info">予約フォームへ進む</a>
</div>
{% endblock %}
