html,
body {
  background-color: #eee;
}
body {
  padding-top: 40px;
}
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.main-container > footer {
  margin-top: 20px;
  margin-bottom: 30px;
}
.main-container > footer p {
  text-align: center;
}
.navbar-inner {
  background-color: #234;
  background: -webkit-linear-gradient(top, #665280 0%, #584064 100%);
  background: -moz-linear-gradient(top, #665280 0%, #584064 100%);
  background: -ms-linear-gradient(top, #665280 0%, #584064 100%);
  background: linear-gradient(top, #665280 0%, #584064 100%);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.navbar a.brand:hover,
.navbar .nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar .nav > li:before {
  float: left;
  margin-top: 6px;
  padding: 14px 0;
  content: ' ';
  border-left: 1px solid #546;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: white;
  text-decoration: none;
  background-color: #48325a;
}
.input-datetime select,
.input-datetime select[size] {
  width: auto;
  height: 24px;
}
.input-datetime div > select {
  margin-left: 2px;
  margin-right: 2px;
}
.input-datetime div > select:first-child {
  margin-left: 0;
}
.input-datetime div[id$=_date],
.input-datetime div[id$=_time] {
  display: inline-block;
  margin-right: 10px;
}
.amount-table {
  font-size: 115%;
}
.amount-table tr.total-amount-row td {
  font-weight: bold;
  font-size: 120%;
  line-height: 1.4;
}
.amount-table .amount-col {
  width: 25%;
}
.amount-table td.amount-col {
  text-align: right;
}
.car-class-box .thumbnail {
  margin-top: 10px;
}
.car-class-box .car-specs {
  margin: 0;
}
.car-class-box .price-table {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.car-class-box .price-table th,
.car-class-box .price-table td {
  text-align: center;
  width: 25%;
}
.car-class-box .price-table th {
  background-color: #f6f6f6;
}
.car-class-box .price-table td {
  background-color: #fff;
}
